<!DOCTYPE html>
<html>

<head>
    <title>AngularJs Form Input Fields Validation Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/libs/angularjs/1.8.3/angular.min.js"></script>

    <script>
        var app = angular.module("formApp", []);
        app.controller("formCtrl", function ($scope) {
            $scope.sendForm = function () {
                $scope.msg = "Form Submitted Successfully";
            };

            $scope.getClass = function (fieldName) {
                if ($scope.personForm[fieldName].$valid) {
                    return "border-success";
                }
                if ($scope.personForm[fieldName].$dirty && $scope.personForm[fieldName].$invalid) {
                    return "border-danger";
                }
                return "";
            };
        });
    </script>

    <style>
        .error {
            color: red;
            display: none;
        }
        .form-control.border-success {
            border-color: green;
        }
        .form-control.border-danger {
            border-color: red;
        }
    </style>
</head>

<body ng-app="formApp" ng-controller="formCtrl">
    <h3>Form validation demo app in AngularJs</h3>

    <form name="personForm" ng-submit="sendForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" ng-model="person.name" required ng-pattern="/^[A-Za-z\s]*$"
                minlength="4" maxlength="40" class="form-control"
                ng-class="{'border-success': personForm.name.$valid, 'border-danger': personForm.name.$dirty && personForm.name.$invalid}" />
            <div class="error" ng-show="personForm.name.$dirty && personForm.name.$error.required">
                Required!
            </div>
            <div class="error" ng-show="personForm.name.$dirty && personForm.name.$error.pattern">
                Invalid Name! Use only letters and spaces.
            </div>
            <div class="error" ng-show="personForm.name.$dirty && personForm.name.$error.minlength">
                Name is too short! Minimum 4 characters required.
            </div>
            <div class="error" ng-show="personForm.name.$dirty && personForm.name.$error.maxlength">
                Name is too long! Maximum 40 characters allowed.
            </div>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input id="address" name="address" type="text" ng-model="person.address" required class="form-control"
                ng-class="{'border-success': personForm.address.$valid, 'border-danger': personForm.address.$dirty && personForm.address.$invalid}" />
            <div class="error" ng-show="personForm.address.$dirty && personForm.address.$error.required">
                Required!
            </div>
        </div>

        <div class="form-group">
            <label for="mobile">Contact No</label>
            <input id="mobile" name="mobile" type="text" ng-model="person.mobile" required ng-pattern="/^\d{10}$/"
                class="form-control"
                ng-class="{'border-success': personForm.mobile.$valid, 'border-danger': personForm.mobile.$dirty && personForm.mobile.$invalid}" />
            <div class="error" ng-show="personForm.mobile.$dirty && personForm.mobile.$error.required">
                Required!
            </div>
            <div class="error" ng-show="personForm.mobile.$dirty && personForm.mobile.$error.pattern">
                Invalid mobile! Enter 10 digits.
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" ng-model="person.email" required class="form-control"
                ng-class="{'border-success': personForm.email.$valid, 'border-danger': personForm.email.$dirty && personForm.email.$invalid}"
                ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                minlength="6" maxlength="100" />
            <div class="error" ng-show="personForm.email.$dirty && personForm.email.$error.required">
                Required!
            </div>
            <div class="error" ng-show="personForm.email.$dirty && personForm.email.$error.email">
                Invalid Email!
            </div>
            <div class="error" ng-show="personForm.email.$dirty && personForm.email.$error.pattern">
                Invalid Email Format!
            </div>
            <div class="error" ng-show="personForm.email.$dirty && personForm.email.$error.minlength">
                Email is too short! Minimum 6 characters required.
            </div>
            <div class="error" ng-show="personForm.email.$dirty && personForm.email.$error.maxlength">
                Email is too long! Maximum 100 characters allowed.
            </div>
        </div>

        <div class="form-check">
            <input type="checkbox" ng-model="terms" name="terms" id="terms" required class="form-check-input" />
            <label for="terms" class="form-check-label">I Agree to the terms.</label>
            <div class="error" ng-show="personForm.terms.$dirty && personForm.terms.$error.required">
                You must agree to the terms
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit Form</button>
        <span class="mt-2">{{ msg }}</span>
    </form>
</body>

</html>
